/*
    2. 오렌지 배경화면을 나타나게 해보세요.
    
    3. 흰색 배경 레이아웃을 잡아보세요.
    흰색배경 : width:800px; height:500px; padding:20px;

    4. 오렌지 이미지를 오른쪽으로 옮겨보세요.

    5. ORANGE 글자에 색을 주세요.  #f90
*/
body {
    background-image: url('orange-bg.png');
}
.box {
    background-color: white;
    width: 800px;
    height: 500px;
    padding: 20px;
}
h1 {
    color: #f90;
}
.orange {
    float: right;
}
